@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --background-color: #0d0b0a;
  --border-color: rgb(255, 255, 255, 0.05);
  --green-color: #9DCB87;
  --blue-color: #00f1f1;
  --pink-color:#CC84B7;
  --orange-color:#D59623;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  margin: 0;
}

* {
  box-sizing: border-box;
}

.wrapper {
   display: flex;
   flex-direction: column;
   height: 100vh;
   max-width: 1600px;
   margin: 0 auto;
   overflow: hidden;
 }

#about {
  max-width: 1600px;
  margin: 0 auto;
}

.home-wrapper {
  display: flex;
  height: 85vh;
  max-width: 1600px;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  overflow: hidden;
  position: relative;
  margin-bottom: 15vh;
}

.text-wrapper {
  text-align: center;
}

.text-wrapper h1,
.text-wrapper h2 {
  margin: 0;

}

.parallax {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 15vh;
}

nav {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: var(--background-color);
  height: 15vh;
  width: 1600px;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid var(--border-color);
}

nav .nav-section {
  padding: 3rem 2rem;
  display: flex;
  gap: 1rem;
  border-left:1px solid var(--border-color);
  align-items: center;
  justify-content: center;
}



.contact-button {
  background-color: var(--green-color);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: 0.3s;
  color: var(--background-color);
  font-weight: 500;
  font-family: 'Roboto Slab', serif;
  cursor: pointer;
}

#send-button {
  padding: 0.3rem 0.6rem;
  border-radius: 2px;
  font-family: monospace;
  border: 1px solid var(--orange-color);
  background-color: var(--background-color);
  color: #8e8e8e;
  transform: scale(1.0);
  font-size: 1rem;
}

#send-button:hover {
  color: var(--background-color);
  background-color: var(--orange-color);
}

.contact-button:hover {
  background-color: var(--blue-color);
  transform: scale(1.05);
}

#nav-logo-section {
  border-left: none;
}

#nav-logo-section,
#nav-link-section {
  flex-basis: calc(100% / 3);
}

#nav-logo-section {
  justify-content: flex-start;
}

#nav-logo-section a {
  font-size: 2rem;
}

#nav-link-section {
  gap: 6rem;
}

#nav-social-section,
#nav-contact-section {
  flex-grow: 1;
}

#nav-social-section {
  gap: 3rem;
}

h1, h2, h3, h4, h5, h6, a, p, span {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  color: white;
}

.message-h2 {
  font-family: monospace;
}

.work-link {
  cursor: pointer;
}

p {
  font-weight: 200;
  line-height: 2;
}

a {
  text-decoration: none;
}

main {
  position: relative;
}

.contact-page {
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}

main article {
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 3fr 1fr;
  position: absolute;
  left: 0;
  top: 15vh;
  max-height: 85vh;
  transition: 0.6s;
}



main article .article-description-section,
main article .article-nav-section {
  border-left: 1px solid var(--border-color);
}

main article .article-title-section,
main article .article-nav-section {
  border-top: 1px solid var(--border-color);
}

main article .article-image-section {
  display: flex;
  height: 60vh;
  background-color: var(--background-color);
  align-items: center;
  justify-content: center;
  transition: 1.5s;
}

main article .article-description-section {
  display: flex;
  height: 60vh;
  flex-direction: column;
  justify-content: flex-end;
  padding: 3rem;
}

main article .article-description-section .tech-container {
  display: flex;
  justify-content: flex-end;
}

main article .article-title-section {
  display: flex;
  height: 25vh;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
}

.tech-stack-section {
  display: flex;
  height: 35vh;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
}

.tech-used-container {
  align-items: flex-end;
}

main article .article-nav-section {
  display: flex;
  height: 25vh;
  align-items: center;
  justify-content: space-around;
}

main article .article-nav-section button {
  border: none;
  background: none;
  font-size: 20px;
}

.hidden {
  transform: translateX(100vw);
  opacity: 0;
}

.after {
  transform: translateX(-100vw);
  opacity: 0;
}

.icon-section {
  display: flex;
  gap: 0.5rem;
}

.techstack-icon-section {
  flex-direction: column;
}

.top-icon-section,
.bottom-icon-section {
  display: flex;
  gap: 0.3rem;
}

#tech-used-container {
   display: flex;
   justify-content: space-between;
}

.top-icons {
  width: 30px;
  transition: 0.2s;
}

.top-icons:hover {
  transform: scale(1.12);
}

.home-icon {
  cursor: pointer;
  width: 30px;
  transition: 0.2s;
}

.home-icon:hover {
  transform: scale(1.12);
}

.tech-container span {
  margin: 0.2rem;
}

.tech-icons {
  width: 30px;
  transition: 0.2s;
}

.tech-icons:hover {
  width: 30px;
  transform: scale(1.07);
}

.tech-icons-big {
  width: 60px;
  filter: saturate(1);
}

.tech-icons-big:hover {
  filter: saturate(1.5);
}

.form-wrapper {
  height: 85vh;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 100%;
}

input, textarea {
  background-color: var(--background-color);
  color: var(--pink-color);
  border: 1px solid var(--orange-color);
  border-radius: 2px;
  outline: none;
  font-family: monospace;
}

input {
  color: var(--blue-color);
  padding: 0.5rem 1rem;
}

input:-webkit-autofill {
  background-color: var(--background-color);
}

textarea {
  padding: 0.5rem 1rem;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  font-size: 1rem;
  font-family: monospace;
}

#about-me {
  height: 50vh;
  display: flex;
  flex-direction: column;
  padding: 2rem 20rem;
}


.mockup-container {
  display: flex;
  padding: 1rem;
  height: 55vh;
  justify-content: center;
  border-radius: 20px;
  margin: 1rem;
  background-color: #0a0908;
  border: 1px solid rgba(250, 235, 215, 0.5);
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 14px;
}

.mockup-container img {
  width: 100%;
}

.swal-modal {
  width: 350px;
  opacity: 0;
  pointer-events: none;
  text-align: center;
  font-family: monospace;
  background-color: var(--background-color);
  border-radius: 10px;
  border: 2px solid var(--blue-color);
  position: static;
  margin: 20px auto;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  z-index: 10001;
  transition: opacity .2s,-webkit-transform .3s;
  transition: transform .3s,opacity .2s;
  transition: transform .3s,opacity .2s,-webkit-transform .3s;
}

.swal-button-container {
  margin: 5px;
  display: flex;
  justify-content: center;
  position: relative;
}

.swal-title {
  color: var(--pink-color);
  font-weight: 600;
  text-transform: none;
  position: relative;
  display: block;
  padding: 13px 16px;
  font-size: 27px;
  line-height: normal;
  text-align: center;
  margin-bottom: 0;
}

.swal-title:not(:last-child) {
  margin-bottom: 0;
}

.swal-title:first-child {
  margin-top: 0px;
}

.swal-footer {
  text-align: right;
  padding: 13px 16px;
  margin-top: 0;
}

.swal-button {
  background-color: white;
  color: var(--orange-color);
  font-family: monospace;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 24px;
  margin: 0;
  cursor: pointer;
  transition: 0.2s;
}

.swal-button:not([disabled]):hover {
  background-color: var(--orange-color);
  color: white;
}

@media screen and (max-width: 1280px) {
  .wrapper {
    min-height: 110vh;
  }

  p {
    font-size: 12px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 14px;
  }



}

@media screen and (max-width: 1000px) {
  nav {
    max-width: 100%;
  }

  .tech-stack-section {
    display: flex;
    flex-direction: column;
    height: 35vh;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
  }

  #about-me {
    height: auto;
  }

  .tech-stack-section {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 180vh;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
  }

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  main article{
    display: flex;
    flex-direction: column-reverse;
    min-height: 100%;
    position: relative;
  }

  .hidden {
    display: flex;
    transform: none;
    opacity: 100;
  }

  .after {
    display: flex;
    transform: none;
    opacity: 100;
  }

  main article .article-nav-section {
    display: none;
  }

  main article .article-title-section {
    padding-top: 0;
    padding-bottom: 0;
  }

  #tech-used-container {
    display: flex;
    justify-content: flex-end;
  }

  main article .article-description-section {
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
  }

  main article .article-description-section p {
    margin: 0;
  }

  main .contact-page {
    flex-direction: column;
  }

  main .contact-page .article-title-section {
    padding: 2rem;
  }

  .carousel .control-dots {
    display: none;
  }

  .carousel p {
    display: none;
  }

  .contact-page .article-title-section {
    flex-direction: column;
  }

  article .article-description-section {
    margin-bottom: 10px;
  }

  main article .article-description-section,
  main article .article-nav-section {
    border:none;
  }

  main article .article-title-section,
  main article .article-nav-section {
    border:none;
  }

  main .contact-page .article-title-section {
    padding: 2rem 0;
  }

  #about-me {
    padding: 2rem 10rem;
    padding-bottom: 0;
  }

  #tech-used {
    display: none;
  }

  #form-section {
    margin-top: 4rem;
  }

}

@media screen and (max-width: 800px) {
  .mockup-container {
    display: flex;
    padding: 1rem;
    height: auto;
    justify-content: center;
    border-radius: 20px;
    margin: 1rem;
    background-color: #0a0908;
    border: 1px solid rgba(250, 235, 215, 0.5);
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 14px;
  }

  #nav-social-section {
    display: none;
  }

  #nav-link-section {
    gap: 1.5rem;
  }

  #about-me {
    padding: 2rem;
    padding-bottom: 0;
  }

  #project-wrapper {
    margin: 0;
  }

}

@media screen and (max-width: 500px) {

  #nav-logo-section {
    padding: 0.5rem 0.5rem;
    justify-content: center;

  }

  #nav-link-section {
    gap: 1rem;
    padding: .5rem 0.5rem;
  }

  #nav-contact-section {
    padding: 1rem 0.5rem;
    margin-right: 0.5rem;
  }
}

